<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]"  alt="Random second slide">
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <h1>Crear autor</h1>
    <p><b>Nombres:</b>
      <br>
      <b>Apellidos:</b>
      <br>
      <b>Fecha de nacimiento:</b>
      <br>
      <b>Numero Libros:</b>
      <br>
      <b>Ecuatoriano:</b>
    </p>
  </div>
  
</div>
<br>
<div class="row">
  <div class="col-sm-3">1</div>
  <div class="col-sm-3">2</div>
  <div class="col-sm-3">3</div>
  <div class="col-sm-3">4</div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">1</div>
  <div class="col-sm-6">2</div>
</div>
<br>
<div class="row">
  <div class="col-sm">1</div>
</div>
<br>



