<div class="row row-margin-bottom" style="width: 500px">
  <div class="col-md-5 no-padding lib-item" data-category="view">
    <div class="lib-panel">
      <div class="row box-shadow">
        <div class="col-md-6">
          <img class="lib-img-show" [src]="img">
        </div>
        <div class="col-md-6">
          <div class="lib-row lib-header">
            {{nombre}}
            <div class="lib-header-seperator"></div>
          </div>
          <div class="lib-row lib-desc">
            {{fecha}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
