<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >Hola</div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="ui-inputgroup" >
      <button pButton type="button" label="Buscar"></button>
      <input type="text" pInputText placeholder="Por autor o libro">
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
<br>
<br>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">Modelo PAPA</div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">Modelo Hijos</div>
  <div class="col-sm-3"></div>
</div>
<br>
<button mat-button routerLink="/Carrito">Click me!</button>


