<br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4" >
    <div class="row">
      <div class="col-sm-5" align="right">

      </div>
      <div class="col-sm-2" align="right">
        <mat-icon [matBadge]="busquedaCompras.length" matBadgeColor="warn" routerLink="/Carrito" >shopping_cart</mat-icon>
      </div>
      <div class="col-sm-3">
        <img src="https://www.freeiconspng.com/uploads/profile-icon-9.png" alt="" style="height: 30px">
        Usuario</div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8" align="center">
      <div class="ui-g-14 ui-md-4">
        <div class="ui-inputgroup">
          <button pButton type="button" label="Buscar" (click)="buscarAutorLibro();buscarLibro(); vaciar()"></button>
          <input type="text" (keyup)="onNameKeyUp($event)" pInputText placeholder="busque por autor o por libro">
        </div>
      </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm"><h4><strong>Autores</strong></h4></div>
    </div>
    <br>
    <div class="row" align="center">
      <div class="col-sm-4" *ngFor="let autor of resultadosAut" >
        <app-card-padre [nombre]="autor.nombres+' '+ autor.apellidos" [fecha]="autor.fechaNacimiento" [img]="autor.imgAutor" routerLink="/ModeloPapa/{{autor.id}}"></app-card-padre>
      </div>
      <div class="col-sm-4">{{mensajeA}}</div>
      <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row" align="center">
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
    <br>
    <div class="row" align="center" >
      <div class="col-sm">
        <button mat-button id="botonAutor" hidden=true>Cargar más</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="col-sm-2"></div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm"><h4><strong>Libros</strong></h4></div>
    </div>
    <br>
    <div class="row" align="center">
      <div class="col-sm-3" *ngFor="let libros of librosParaMostrar" routerLink="/ModeloPapa/{{libros.autorId}}/ModeloHijo/{{libros.id}}">
        <app-card-hijo [nombre]="libros.nombre" [fecha]="libros.fechaPublicacion" [img]="libros.imgLibro" routerLink="/ModeloHijo"></app-card-hijo>
      </div>
      <div class="col-sm-3">{{mensajeL}}</div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row" align="center">
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3"></div>
    </div>
    <br>
    <div class="row" align="center">
      <div class="col-sm">
        <button mat-button id="botonLibro" (click)="masLibros()" hidden= true>Cargar más</button>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
<br>



